*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.container{
    min-height: 100vh;
    width: 100%;
}

h1{
    font-size: 35px;
    font-weight: 750;
    color: white;
    text-transform: uppercase;
    text-align: left;
    background-color: rgb(4,88,121);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
}

.name{
    padding: 60px;
    background-color: rgb(7,176,242);
}

img{
    border: 3px solid;
    border-radius: 50%;
}

h2{
    margin-top: 25px;
    text-transform: uppercase;
    color: white;
}

h2::after{
    content: "";
    height: 3px;
    width: auto;
    background-color:rgb(255, 255, 255);
    display: block;
    margin: 5px 535px;
    margin-bottom: 25px;
}

h4{
    color: white;
}

.course{
    background-color: rgb(255, 255, 255);
    padding: 70px;
}

.cmsc{
    border-color: rgb(4,88,121);
    border-style: dotted;
    border-width: 5px;
    padding: 25px;
    width: 65%;
    margin-bottom: 25px;
}

.ge{
    border-color: rgb(4,88,121);
    border-style: dotted;
    border-width: 5px;
    padding: 25px;
    width: 65%;
}

.pl{
    border-color: rgb(4,88,121);
    border-style: dotted;
    border-width: 5px;
    position: relative;
    padding: 53px 25px;
    width: 30%;
    float: right;
    top: -573px;
}

.h3-1{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}

.bl-1{
    color: rgb(0, 0, 0);
    padding: 7px 25px 25px;
    text-align: justify;
}

.others{
    background-color: rgb(239,241,242);
    padding: 70px;
    position: absolute;
}

.food{
    background-color: white;
    border-style: dotted;
    border-width: 3px;
    color: rgb(4,88,121);
    padding: 25px;
    width: 100%;
}

.h3-2{
    color: rgb(4,88,121);
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    text-align: center;
}

.bl-2{
    padding: 25px 25px;
    color: rgb(4,88,121);
    text-align: justify;
}

.hobby{
    background-color: white;
    border-style: dotted;
    border-width: 3px;
    color: rgb(4,88,121);
    padding: 25px;
    width: 100%;
    margin-top: 25px;
}

.dream{
    background-color: white;
    border-style: dotted;
    border-width: 3px;
    color: rgb(4,88,121);
    padding: 25px;
    width: 100%;
    margin-top: 25px;
}